# Node.js
node_modules/

# VS Code
.vscode/

# Environment variables
.env

# Uploads (ignorer tout sauf les fichiers .gitkeep)
uploads/*
!uploads/.gitkeep
!uploads/**/.gitkeep

# Google service account key
tools/serviceAccountKey.json.json